*{
margin: 0;
padding: 0;
}
.flexbox {
    display: flex;
    max-width: 1640px;
    width: 300%;
    height: 600px;
    margin: 0;
    padding: 0px 16px;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
}
body{
    background-color:  hsl(0, 0%, 95%) ;
    max-width: 375px;
    }
.div1{
background-color: hsl(31, 77%, 52%);
width: 330px;
height: 550px;
border-radius: 7px 7px 0px 0px;

border-bottom-left-radius: 7px;

}
.img1{
    margin-left: 50px;
    margin-top: 50px;
}
.h1{
font-size: 45px;
font-family:Big Shoulders Display ;
color: hsl(0, 0%, 95%);
font-weight: 700;
margin-top: -220px;
margin-left: 50px;}
.p1{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 120px;
    margin-left: 50px;
}
.p2{
   color: hsl(0, 0%, 95%); 
   font-family: Lexend Deca;
   margin-top: 5px;
   margin-left: 50px;
}
.p3{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 5px;
    margin-left: 50px;
}
.p4{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 5px;
    margin-left: 50px;
}
.p5{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 5px;
    margin-left: 50px;
}
.div2{
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius:100px;
  margin-top: 270px;
  margin-left: 50px;
}
.p6{
  color:hsl(31, 77%, 52%) ;
  font-family: Lexend Deca;
  margin-left: 30px;
  padding-top: 15px;
}
.div3{
 background-color: hsl(184, 100%, 22%);
 width: 330px;
 height: 550px;



 

}
.img2{
 margin-left: 50px;
 margin-top: 50px;
}
.h2{
font-size: 45px; 
font-family:Big Shoulders Display ;
color: hsl(0, 0%, 95%);
font-weight: 700;
margin-top: -220px;
margin-left: 53px;
}
.p7{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 120px;
    margin-left: 50px;
}
.p8{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
    margin-top: 5px;
    margin-left: 50px;
}
.p9{
    color: hsl(0, 0%, 95%); 
    font-family: Lexend Deca;
     margin-top: 5px;
     margin-left: 50px;
}
.p10{
     color: hsl(0, 0%, 95%); 
     font-family: Lexend Deca;
     margin-top: 5px;
     margin-left: 50px;
 }
.p11{
      color: hsl(0, 0%, 95%); 
      font-family: Lexend Deca;
      margin-top: 5px;
     margin-left: 50px;
 }
 .div4{
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius:100px;
        margin-top: 270px;
        margin-left: 50px;
 }
    .p12{
    color: hsl(184, 100%, 22%) ;
    font-family: Lexend Deca;
    margin-left: 30px;
    padding-top: 15px;
    }
    .div5{
     background-color: hsl(179, 100%, 13%);
     width: 330px;
     height: 550px;
     border-radius: 0px 0px 7px 7px;

    
  
    }
    .img3{
        margin-left: 50px;
        margin-top: 50px;
    }
    .h3{font-size: 45px; 
    font-family:Big Shoulders Display ;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    margin-top: -220px;
    margin-left: 53px
    }
    .p14{
        color: hsl(0, 0%, 95%); 
        font-family: Lexend Deca;
        margin-top: 120px;
        margin-left: 50px;
    }
    .p15{
        color: hsl(0, 0%, 95%); 
        font-family: Lexend Deca;
        margin-top: 5px;
        margin-left: 50px;
    }
    .p16{
        color: hsl(0, 0%, 95%); 
        font-family: Lexend Deca;
        margin-top: 5px;
        margin-left: 50px;
    }
    .p17{
        color: hsl(0, 0%, 95%); 
        font-family: Lexend Deca;
        margin-top: 5px;
        margin-left: 50px;
    }
    .p18{
        color: hsl(0, 0%, 95%); 
        font-family: Lexend Deca;
        margin-top: 5px;
        margin-left: 50px;
    }
    .div4{
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius:100px;
        margin-top: 270px;
        margin-left: 50px;
    }
    .div6{
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius:100px;
        margin-top: 270px;
        margin-left: 50px;
    }
    .p19{
        color:  hsl(179, 100%, 13%);
        font-family: Lexend Deca;
        margin-left: 30px;
       
        padding-top: 15px;
    }
   .div2:hover{background-color: black;border-color: hwb(0 95% 5%);}
   .div4:hover{background-color: black;}
   .div6:hover{background-color: black;}
   


    

    
